<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Nomblr{% endblock %}</title>
</head>
<body>
<header>
	<h1><a href="/">Nomblr</a></h1>
	{% if request.user.is_authenticated %}
		<ul>
			<li><a href="/">Add a nom</a></li>
			<li><a href="/{{ request.user }}/">My noms</a></li>
			<li><a href="/friends/">Friends</a></li>
		</ul>
		<form action="/" method="GET"><input id="q" name="q" type="text" value="{{ request.GET.q }}" placeholder="Nom search"></form>
	{% endif %}
</header>
{% block content %}{% endblock %}
<footer>
	<ul>
	{% if request.user.is_authenticated %}
		<li><strong>{{ request.user }}</strong></li>
		<li><a href="/logout/">Logout</a></li>
	{% else %}
		<li><a href="/login/">Login</a></li>
		<li><a href="/signup/">Signup</a></li>
	{% endif %}
	</ul>
	<p>Nomblr is lovingly baked to perfection by <a href="http://rcrowley.org/">Richard</a> and <a href="http://capwatkins.com/">Cap</a>.</p>
</footer>
</body>
</html>
