<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Nomblr{% endblock %}</title>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" media="all and (orientation:portrait)" href="/static/css/portrait.css">
<link rel="stylesheet" media="all and (orientation:landscape)" href="/static/css/landscape.css">
<script src="/static/js/base.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/site.js" type="text/javascript" charset="utf-8"></script>
<link rel="apple-touch-icon-precomposed" href="/static/images/global/apple-touch-icon.png" />
</head>
<body>
<header>
	<div class="nav">
		<h1><a href="/">Nomblr</a></h1>
		{% if request.user.is_authenticated %}
			<menu>
				<li><a href="#" class="add" onclick="showStuff('new'); return false;">Add a nom</a></li>
				<li><a href="/{{ request.user }}/"{% if 0 %} class="selected"{% endif %}>My noms</a></li>
				<li><a href="/friends/"{% if 0 %} class="selected"{% endif %}>Friends</a></li>
			</menu>
			<form action="/" method="GET"><input id="q" name="q" type="text" value="{{ request.GET.q }}" placeholder="Nom search"></form>
		{% endif %}
	</div>
</header>
<div id="content">
{% block content %}{% endblock %}
</div>
<div class="clear"></div>
<footer>
	<p>Nomblr is lovingly baked to perfection by <a href="http://rcrowley.org/">Richard</a> and <a href="http://capwatkins.com/">Cap</a>.</p>
	<ul>
	{% if request.user.is_authenticated %}
		<li><strong>{{ request.user }}</strong></li>
		<li><a href="/account/">Account</a></li>
		<li><form action="/logout/" method="POST">{% csrf_token %}<input type="submit" value="Logout" class="link"></form></li>
	{% else %}
		<li><a href="/login/">Login</a></li>
		<li><a href="/signup/">Signup</a></li>
	{% endif %}
	</ul>
</footer>
<div id="new" class="overlay" style="display:none;">
	<div class="content">
		<a href="#" class="close" title="close" onclick="hideStuff('new');return false;">Close</a>
		<form action="/" method="POST">
			{% csrf_token %}
			<p><label for="id_name"><span class="left"></span><span class="right">Name:</span></label> <input id="id_name" type="text" name="name" maxlength="255" /></p>
			<p><label for="id_text"><span class="left"></span><span class="right">Recipe:</span></label> <textarea id="id_text" rows="10" cols="40" name="text"></textarea></p>
			<p class="submit greenborder"><input type="submit" value="Save" class="green"></p>
		</form>
	</div>
</div>
</body>
</html>
