<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Home{% endblock %} &mdash; Nomblr</title>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" media="all and (orientation:portrait)" href="/static/css/portrait.css" />
<link rel="stylesheet" media="all and (orientation:landscape)" href="/static/css/landscape.css" />
<link rel="icon" type="image/x-icon" href="/static/images/global/favicon.png" /> 
<link rel="apple-touch-icon-precomposed" href="/static/images/global/apple-touch-icon.png" />
{% block extracss %}{% endblock %}
</head>
<body>
<header{% if "/login/" == request.META.PATH_INFO %} style="display:none;"{% endif %}{% if "/signup/" == request.META.PATH_INFO %} style="display:none;"{% endif %}{% if "/account/password/reset/" == request.META.PATH_INFO %} style="display:none;"{% endif %}{% if "/account/password/reset/sent/" == request.META.PATH_INFO %} style="display:none;"{% endif %}>
	<div class="nav">
		<h1><a href="/">Nomblr</a></h1>
		{% if request.user.is_authenticated %}
			<menu>
				<li><a href="/"{% if "/" == request.META.PATH_INFO %} class="selected"{% endif %}>Browse Recipes</a></li>
				<li><a href="/{{ request.user }}/"{% if owner == request.user and recipes %} class="selected"{% endif %}>Your Recipes</a></li>
				<li><a href="#" class="add">Add a Recipe</a></li>
			</menu>
			<form action="/" method="GET" style="display:none;"><input id="q" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search for noms"></form>
		{% endif %}
		<menu class="nav-r">
		{% if request.user.is_authenticated %}
			<li class="acct"><a href="/account/"{% if "/account/" == request.META.PATH_INFO %} class="selected"{% endif %} title="Your Account">Account</a></li>
			<li><form action="/logout/" method="POST">{% csrf_token %}<input name="next" type="hidden" value="/login/" /><input type="submit" value="Logout" class="link logout" title="Logout" /></form></li>
		{% else %}
			<li><a href="/login/">Login</a></li>
			<li><a href="/signup/">Signup</a></li>
		{% endif %}
		</menu>
	</div>
</header>
<div id="content">
{% block content %}{% endblock %}
</div>
<div class="clear"></div>
<footer>
	<p>Nomblr is lovingly baked by <a href="http://rcrowley.org/">Richard</a> and <a href="http://capwatkins.com/">Cap</a>.</p>
</footer>
<div id="add" class="overlay" style="display:none;">
	{% with None as form %}{% include "recipe_form.html" %}{% endwith %}
</div>
<div id="ajax"></div>
<script src="/static/js/jquery-1.4.4.min.js"></script>
<script src="/static/js/nomblr.js"></script>
{% block extrajs %}{% endblock %}
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-20511654-1']);
_gaq.push(['_trackPageview']);
(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
