{% extends "base.html" %}

{% block content %}
	<nav>
		<h1>{% block title %}Friends{% endblock %}</h1>
		<div class="paper white">
			{% if facebook_login %}
				<div class="paper_top">Connect and share your recipes <fb:login-button>Find your friends on Facebook</fb:login-button></div>
				<div id="fb-root"></div>
			{% endif %}
			<ul class="paper-menu">
				<li><a href="#" class="selected">Following</a></li>
				<li><a href="#">Followers</a></li>
			</ul>
			<h2>Following</h2>
			<ol>
			{% for user in following %}
				<li>{{ user }}</li>
			{% endfor %}
			</ol>
			<h2>Followers</h2>
			<ol>
			{% for user in followers %}
				<li>{{ user }}</li>
			{% endfor %}
			</ol>
			<h2>Facebook friends on Nomblr</h2>
			<ol>
			{% for profile in facebook_friends %}
				<li>{{ profile }}</li>
			{% endfor %}
			</ol>
		</div>
	</nav>
	<section id="fblist" style="right:210px;">
		<a href="#" class="follow all">+all</a>
		<h3>Found 23</h3>
		<ul>
			<li>
				<a href="#" class="avatar"><img src="/static/images/test/pancakes.jpg" alt="Mikhail Pancenko" /></a>
				<section>
					<a href="#" class="name">Mikhail Pancenko</a>
					<span class="user">@pancakes</span>
					<span class="action"><a href="#" class="follow">+follow</a></span>
				</section>
			</li>
			<li>
				<a href="#" class="avatar"><img src="/static/images/test/pancakes.jpg" alt="Mikhail Pancenko" /></a>
				<section>
					<a href="#" class="name">Mikhail Pancenko</a>
					<span class="user">@pancakes</span>
					<span class="action"><a href="#" class="follow">+follow</a></span>
				</section>
			</li>
			<li>
				<a href="#" class="avatar"><img src="/static/images/test/pancakes.jpg" alt="Mikhail Pancenko" /></a>
				<section>
					<a href="#" class="name">Mikhail Pancenko</a>
					<span class="user">@pancakes</span>
					<span class="action"><a href="#" class="follow">+follow</a></span>
				</section>
			</li>
			<li>
				<a href="#" class="avatar"><img src="/static/images/test/pancakes.jpg" alt="Mikhail Pancenko" /></a>
				<section>
					<a href="#" class="name">Mikhail Pancenko</a>
					<span class="user">@pancakes</span>
					<span class="action"><a href="#" class="follow">+follow</a></span>
				</section>
			</li>
			<li>
				<a href="#" class="avatar"><img src="/static/images/test/pancakes.jpg" alt="Mikhail Pancenko" /></a>
				<section>
					<a href="#" class="name">Mikhail Pancenko</a>
					<span class="user">@pancakes</span>
					<span class="action"><a href="#" class="follow">+follow</a></span>
				</section>
			</li>
			<li class="navbtns">
				<a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a>
			</li>
		</ul>
	</section>
{% endblock %}

{% block extrajs %}
	{% if facebook_login %}
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
		FB.init({ 
			appId: "195241420501723",
			cookie: true, 
			status: true,
			xfbml: true 
		});
		FB.Event.subscribe('auth.sessionChange', function(response) {
			if ("connected" == response.status) {
				console.log(response.session.access_token);
				console.log(response.session.uid);
				console.log(response.session.expires);
				$("#facebook-id").val(response.session.uid);
				$("#facebook-token").val(response.session.access_token);
				$("#facebook-expiry").val(response.session.expires);
				$("#facebook-session").submit();
			}
		});
		</script>
		<form id="facebook-session" method="POST" style="display: none;">
			{% csrf_token %}
			<input id="facebook-id" name="facebook_id" />
			<input id="facebook-token" name="facebook_token" />
			<input id="facebook-expiry" name="facebook_expiry" />
		</form>
	{% endif %}
{% endblock %}
