{% extends "base.html" %}

{% block content %}
	<section id="splash">
		<h1>{% block title %}Nomblr{% endblock %}</h1>
		<h2>Cook good food. Share recipes with your friends</h2>
		<div class="paper white">
			<h3>Reset your password</h3>
			<form method="POST">
				{% csrf_token %}
				<label for="id_email">E-mail</label>
				<input id="id_email" type="text" name="email" maxlength="75" />
				<span class="submit greenborder"><input type="submit" value="Reset" class="green" /></span>
			</form>
		</div>
	</section>
	{% with request.user as owner %}
		{% include "profile_aside.html" %}
	{% endwith %}
{% endblock %}
