<aside class="col2 profile">
{% if request.user.is_authenticated %}
	<section>
		<a href="/{{ owner }}/" class="avatar"><img src="{{ owner.get_profile.gravatar64 }}" alt="{{ owner }}" /></a>
		<h4 class="name">@{{ owner }}</h4>
		<a href="#" class="follow">+ follow</a><br />
		<a href="#" class="following"><span class="static">following</span> <span class="unfollow">unfollow</span></a>
	</section>
	<section>
		<a href="/account/" class="edit">Edit profile info</a>
	</section>
	<!--
	<section class="tags">
		<h4>@{{ owner }}&#8217;s tags</h4>
	</section>
	-->
{% endif %}
</aside>
