<aside class="col2 profile">
	<section>
		<a href="/{{ owner }}/" class="avatar"><img src="{{ owner.get_profile.gravatar64 }}" alt="{{ owner }}" /></a>
		<h4 class="name">@{{ owner }}</h4>
	{% if owner != request.user %}
		{% if owner in request.user.following %}{# FIXME #}
			<a href="/{{ owner }}/follow/" class="follow" style="display: none;">+ follow</a>
			<a href="/{{ owner }}/unfollow/" class="following"><span class="static">following</span> <span class="unfollow">unfollow</span></a>
		{% else %}
			<a href="/{{ owner }}/follow/" class="follow">+ follow</a>
			<a href="/{{ owner }}/unfollow/" class="following" style="display: none;"><span class="static">following</span><span class="unfollow">unfollow</span></a>
		{% endif %}
	{% endif %}
	</section>
{% if owner == request.user %}
	<section>
		<a href="/account/" class="edit">Edit profile info</a>
	</section>
{% endif %}
	<!--
	<section class="tags">
		<h4>@{{ owner }}&#8217;s tags</h4>
	</section>
	-->
</aside>
