{% extends "base.html" %}

{% block content %}
	<nav>
		{% if owner %}
			<h1>Noms from @{{ owner }}</h1>
		{% else %}
			<h1>Noms</h1>
		{% endif %}
		<div class="paper white">
			<ul class="cont_list recipes">
			{% for recipe in recipes %}
				{% include "recipe_li.html" %}
			{% endfor %}
			</ul>
		</div>
	</nav>
	<section class="col2 profile">
		{% if owner %}
			<section>
				<a href="/{{ owner }}/" class="avatar"><img src="{{ owner.get_profile.gravatar64 }}" alt="{{ owner }}" /></a>
				<h4 class="name">@{{ owner }}</h4>
			</section>
			{% if owner == request.user %}
				<section>
					<h4>Change your&hellip;</h4>
					<ul>
						<li><a href="/account/email/">email address</a></li>
						<li><a href="/account/password/">password</a></li>
						<li><a href="/account/username/">username</a></li>
					</ul>
					<p>Change <em>{{ request.user.email }}</em>&#8217;s<br />avatar at <a href="http://gravatar.com/">Gravatar</a>.</p>
				</section>
			{% endif %}
			<!--
			<section class="tags">
				<h4>@{{ owner }}&#8217;s tags</h4>
			</section>
			-->
		{% else %}
			<section>
				<h4>Recently viewed</h4>
				<ol>
					<li><a href="#" class="nom">hooah</a> <a href="#" class="user">@hooah</a></li>
				</ol>
			</section>
			<section>
				<h4>Newest noms</h4>
				<ol>
					<li><a href="#" class="nom">hooah</a> <a href="#" class="user">@hooah</a></li>
				</ol>
			</section>
		{% endif %}
	</section>
{% endblock %}
