{% extends "base.html" %}

{% block content %}
	<nav>
		{% if owner %}
			<h1>Noms from <strong>@{{ owner }}</strong></h1>
		{% else %}
			<h1>Noms</h1>
		{% endif %}
		<div class="paper white">
			<ul class="cont_list recipes">
			{% for recipe in recipes %}
				<li>
					<a href="/{{ recipe.owner }}/" class="avatar"><img src="{{ recipe.owner.gravatar32 }}" alt="@{{ recipe.owner }}"></a>
					<h3>
						<a href="{{ recipe.slug }}/">{{ recipe }}</a>
						<a href="/{{ recipe.owner }}/" class="user">@{{ recipe.owner }}</a>
					</h3>
				</li>
			{% endfor %}
			</ul>
		</div>
	</nav>
{% endblock %}
