{% load mdown %}

<div id="recipe" class="overlay">
	<article class="content">
		{% if request.is_ajax %}
			<a href="#" class="close" title="close">Close</a>
		{% endif %}
		<h1><a href="/{{ recipe.owner }}/"><img src="{{ recipe.owner.get_profile.gravatar64 }}" alt="@{{ recipe.owner }}"></a> <span>{% block title %}{{ recipe.name }}{% endblock %}</span></h1>
		<p><label><span class="left"></span><span class="right">Recipe</span></label></p>
		<div id="fullscreen" class="recipe">
			<a href="#" class="fullscreen" title="View Fullscreen">View Fullscreen</a>
			<a href="#" class="fullscreen-off" title="Close Fullscreen">Close Fullscreen</a>
			{{ recipe.text|mdown }}
			{% if recipe.owner == request.user %}
				<footer>
					<p><a href="#" class="edit">Edit</a></p>
				</footer>
			{% endif %}
		</div>
	</article>
</div>
<div id="edit" class="overlay" style="display: none;">
	{% include "recipe_form.html" %}
</div>
