<li>
	<a href="/{{ recipe.owner }}/" class="avatar"><img src="{{ recipe.gravatar32 }}" alt="@{{ recipe.owner }}"></a>
	<h3>
		<a href="/{{ recipe.owner }}/{{ recipe.slug }}/" class="nom">{{ recipe.name }}</a>
		<a href="/{{ recipe.owner }}/" class="user">@{{ recipe.owner }}</a>
	</h3>
	{% if recipe.owner == request.user or recipe.owner == request.user.username %}
		<form action="/{{ recipe.owner }}/{{ recipe.slug }}/delete/" method="POST" class="nom-delete" data-url="/{{ recipe.owner }}/{{ recipe.slug }}/">
			{% csrf_token %}
			<input type="submit" value="Delete nom" />
		</form>
	{% endif %}
</li>
