<ol class="cont_list recipes">
{% if recipes.paginator %}
	{% for recipe in recipes.object_list %}
		{% include "recipe_li.html" %}
	{% endfor %}
	<li class="paging">
		{% if recipes.has_previous %}
			<a href="?page=1" class="first" title="Back to the first page">Back to the first page</a>
			<a href="?page={{ recipes.previous_page_number }}" class="prev" title="Previous page">Previous page</a>
		{% else %}
			<a class="first current" title="Back to the first page">Back to the first page</a>
			<a class="prev current" title="Previous page">Previous page</a>
		{% endif %}
		<span class="count">Page {{ recipes.number }}/{{ recipes.paginator.num_pages }}</span>
		{% if recipes.has_next %}
			<a href="?page={{ recipes.next_page_number }}" class="next" title="Next page">Next page</a>
			<a href="?page={{ recipes.paginator.num_pages }}" class="last" title="Go to the last page">Go to the last page</a>
		{% else %}
			<a class="next current" title="Next page">Next page</a>
			<a class="last current" title="Go to the last page">Go to the last page</a>
		{% endif %}
	</li>
{% else %}
	{% for recipe in recipes %}
		{% include "recipe_li.html" %}
	{% endfor %}
{% endif %}
</ol>
