{% extends "base.html" %}

{% block content %}
	<section id="splash">
		<h1>{% block title %}Signup{% endblock %}</h1>
		<h2>Cook good food. Share recipes with your friends</h2>
		<div class="paper white signup">
			<h3>Signup or <a href="/login/">login</a></h3>
			<form method="POST">
				{% csrf_token %}
				<label for="id_email">Email address</label>
				{{ form.email }}
				<label for="id_username">Username</label>
				{{ form.username }}
				<label for="id_password1">Password</label>
				{{ form.password1 }}
				<label for="id_password2">Confirm password</label>
				{{ form.password2 }}
				<label for="id_invite_code">Invite code</label>
				{{ form.invite_code }}
				<span class="submit greenborder"><input type="submit" value="Let's get nomming" class="green" /></span>
			</form>
		</div>
	</section>
{% endblock %}
