{% extends "base.html" %}

{% block content %}
	<section>
		<h1>{% block title %}Change your username{% endblock %}</h1>
		<div class="paper white">
			<form method="POST" onsubmit="return confirm('Changing your username will break outside links to your recipes.');">
				{% csrf_token %}
				{{ form.as_p }}
				<span class="submit greenborder"><input type="submit" value="Save Changes" class="green"></span>
			</form>
		</div>
	</section>
	{% with request.user as owner %}
		{% include "profile_aside.html" %}
	{% endwith %}
{% endblock %}
